* {
  margin: 0;
  padding: 0;
}
.submits.search_show{
  font-family: serif;
  /* 検索 */
  .tops-search {
    text-align: center;
    overflow: hidden;
    width: auto;
    margin: 2em auto;
  }

  .cp_ipselect {
  	overflow: hidden;
  	width: auto;
  	text-align: center;
    float: left;
  }
  .select {
  	width: 100%;
  	padding-right: 1em;
  	cursor: pointer;
  	text-indent: 0.01px;
  	text-overflow: ellipsis;
  	border: none;
  	outline: none;
  	background: transparent;
  	background-image: none;
  	box-shadow: none;
  	-webkit-appearance: none;
  	appearance: none;
  }
  .select::-ms-expand {
    display: none;
  }
  .cp_ipselect.cp_sl04 {
  	position: relative;
  	border-radius: 2px;
  	border: 2px solid #da3c41;
    border-radius: 50px;
  	background: #ffffff;
  }
  .cp_ipselect.cp_sl04::before {
  	position: absolute;
  	top: 0.8em;
  	right: 0.8em;
  	width: 0;
  	height: 0;
  	padding: 0;
  	content: '';
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-top: 6px solid #da3c41;
  	pointer-events: none;
  }
  .select {
  	padding: 5px 35px 5px 8px;
  	color: #da3c41;
  }
  .search_button {
    display:block;
    width:80px;
    color:#fff;
    text-align:center;
    background-color:#da3c41;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #da3c41;
  }
  /* 検索　END */

  /* 以降検索表示 */

  .planplan {
    border: 8px solid #EFEFEF;
    display: flex;
    margin: 0 auto;
    width: 900px;
    height: 200px;
    border-radius: 38px;
  }

  .description h4 {
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
  }

  .description li {
    list-style: none;
    float: left;
    font-size: 11px;
  }

  .description {
    padding: 0px 20px;
    position: relative;
  }

  .description p {
    color: grey;
    border-bottom: 2px solid #EFEFEF;
  }

  .description_mood {
    padding: 5px;
  }

  .show_page {
    text-align: right !important;
  }

  /*画像のループスライダー*/
  .loopslider {
    margin: 0 auto;
    width: 230px;
    height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .loopslider ul {
    height: 180px;
    float: left;
    display: inline;
    overflow: hidden;
  }

  .loopslider ul li {
    width: auto;
    float: left;
    display: inline;
    overflow: hidden;
    padding-top: 30px;
    padding-right: 2px;
  }
  /*画像のループスライダー END*/

  .planplan p {
    display: inline;
  }

  .img-thumbnail {
    border-radius: 30px !important;
    width: 240px;
  }

  /*スマホ用*/
  @media screen and (max-width: 480px) {
    .select_a {
      width: 100%;
    }
    .select_pm {
      width: 40%;
    }
    .search_button {
      width: 20%;
    }
    
    .planplan {
      width: 100%;
      height: auto;
      display: block;
    }

    .img-thumbnail {
      width: 100%;
    }

    .loopslider {
      width: 100%;
      height: 150px;
    }
    .loopslider ul li {
      padding-top: 10px;
    }
  }

}
/* 以降検索表示 END */
