* {
  margin: 0;
  padding: 0;
}
.submits.search_show{
  font-family: serif;
  /* 検索 */
  .tops-search {
    text-align: center;
    overflow: hidden;
    width: auto;
    margin: 2em auto;
  }

  .cp_ipselect {
  	overflow: hidden;
  	width: auto;
  	text-align: center;
    float: left;
  }
  .select {
  	width: 100%;
  	padding-right: 1em;
  	cursor: pointer;
  	text-indent: 0.01px;
  	text-overflow: ellipsis;
  	border: none;
  	outline: none;
  	background: transparent;
  	background-image: none;
  	box-shadow: none;
  	-webkit-appearance: none;
  	appearance: none;
  }
  .select::-ms-expand {
    display: none;
  }
  .cp_ipselect.cp_sl04 {
  	position: relative;
  	border-radius: 2px;
  	border: 2px solid #da3c41;
    border-radius: 50px;
  	background: #ffffff;
  }
  .cp_ipselect.cp_sl04::before {
  	position: absolute;
  	top: 0.8em;
  	right: 0.8em;
  	width: 0;
  	height: 0;
  	padding: 0;
  	content: '';
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-top: 6px solid #da3c41;
  	pointer-events: none;
  }
  .select {
  	padding: 5px 35px 5px 8px;
  	color: #da3c41;
  }
  .search_button {
    display:block;
    width:80px;
    color:#fff;
    text-align:center;
    background-color:#da3c41;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #da3c41;
  }
  /* 検索　END */

  /* 以降検索表示 */

  .planplan {
    border: 8px solid #EFEFEF;
    display: flex;
    margin: 0 auto;
    width: 90%;
    height: 200px;
    border-radius: 10px;
  }

  .description h4 {
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    color: #FF4F02;
  }

  .description li {
    list-style: none;
    float: left;
    font-size: 12px;
  }

  .description {
    width: 100%;
    padding: 0px 20px;
    position: relative;
  }
  .description_ap {
    display: inline-block;
  }

  .description p {
    color: grey;
    border-bottom: 2px solid #EFEFEF;
  }

  .description_mood {
    padding: 5px;
  }

  .show_page {
    text-align: right !important;
    font-weight: 800;
  }

  .spots_image {
    height: 138px;
    width: 230px;
    object-fit: cover;
  }

  /*画像swiper*/
  .swiper-slide ul {
    text-align: center;
    margin-top: 20px;
  }
  .swiper-slide ul li {
    display: inline-block;
    overflow: hidden;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0;
  }
  .swiper-button-prev {
    background-image: url(https://www.otwo.jp/blog/demo/swiper/arrow_left.png);
  }
  .swiper-button-next{
    background-image: url(https://www.otwo.jp/blog/demo/swiper/arrow_right.png);
  }
  /*画像のswiper END*/

  .planplan p {
    display: inline;
  }

  .img-thumbnail {
    width: 240px;
  }
  .pagination {
    justify-content: center;
    width: auto;
  }
  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: black;   /*文字の色を変える*/
    width: 36px;
    text-align: center;
  }

  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #da3c41;     /*背景の色を変える*/
    border-radius: 25px;     /*角を丸くする*/
    width: 36px;
    text-align: center;
    color: white;
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 20px;    /*角を丸くする*/
    color: black;
  }

  .post {
    margin-top: 7px;
    height: 71px;
    font-size: 20px;
    border-radius: 15px;
    line-height: 56px;
  }


  /*スマホ用*/
  @media screen and (max-width: 480px) {
    .select_a {
      width: 100%;
    }
    .select_pm {
      width: 40%;
    }
    .search_button {
      width: 20%;
    }

    .planplan {
      width: 100%;
      height: auto;
      display: inline-block;
      margin-bottom: 10px;
      border: 5px solid #EFEFEF;
    }

    .description h4 {
      padding-top: 3px;
      margin-bottom: 4px;
      border-bottom: 2px solid;
      border-bottom-color: rgba(255,10,10,0.2);
      display: inline;
    }
    .description_n {
      text-align: center;
      padding: 5px 0px;
    }
    .description p {
      font-size: 13px;
    }

    .description_ap {
      display: inline-block;
    }
    .description li {
      font-size: 10px;
    }
    .description_mood {
      padding-bottom: 0px;
    }

    .description_mood li {
      display: block;
      padding-top: 5px;
    }

    .img-thumbnail {
      width: 100%;
    }

    .description_mood::after {
      content: "\A";
      white-space: pre;
    }
    .show_page {
      display: block;
      font-weight: 800;
      padding-bottom: 5px;
      font-size: 20px;
    }

    .post {
      height: 45px;
      line-height: 30px;
      border-radius: 12px;
    }

    .pagination>li>a {
      border: none;     /*枠線をなくす*/
      color: black;   /*文字の色を変える*/
      width: 32px;
      height: 32px;
      font-size: 14px;
      text-align: center;
    }
    .pagination>.active>a {
      background: #da3c41;     /*背景の色を変える*/
      border-radius: 25px;     /*角を丸くする*/
      width: 32px;
      height: 32px;
      font-size: 14px;
      text-align: center;
      color: white;
    }
  }

}
/* 以降検索表示 END */
