* {
  margin: 0;
  padding: 0;
}
.submits.show{
  font-family: serif;
  /* 以下詳細画面 */
  .contents-name {
    border-radius: 20px;
    background-color: #FFD5EC;
    display: inline-block;
    margin: 0 auto;
    box-shadow: 3px 27px 20px 8px #FFF inset;
  }

  .contents-name h2 {
    font-weight: 800;
    padding: 5px 10px;
    text-shadow:0px 0px 20px #FF69A3;
  }

  .contents-overview {
    background: rgba(255,10,10,0.3);
    box-shadow: 0px 5px 45px 15px #FFF inset;
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
  }

  .contents-overview p {
    font-size: 18px;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
  }

  .plan-description {
    text-align: center;
  }

  .contents-top {
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .contents {
    padding: 10px 10px 20px 10px;
    border-top: 2px dotted #CCCCCC;
    margin-bottom: 10px;
  }

  .each_title {
    text-align: left;
    float: left;
    font-size: 20px;
    padding: 2px;

    border: 6px solid rgba(240,10,10,0.2);
    margin: 0 auto;
    border-radius: 30px;
  }

  .title_title span {
    border-bottom: double 6px #87CEFA;
    font-size: 28px;
  }

  .each_contents {
    padding-top: 15px;
  }

  .img-fluid {
    border: 10px ridge #cfcfcf !important;
    height: 200px !important;
  }

  .each_body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: grey;
  }

  .each_body p {
    text-align: left !important;
  }

  .each_body strong {
    font-size: 18px;
  }

  .delete_edit {
    display: flex;
    justify-content: center;
  }
  .delete_edit p {
    margin: 10px 10%;
  }

  @media screen and (max-width: 480px) {
    .contents {
      padding: 10px;
      margin-bottom: 0px;
    }
    .contents-name h2 {
      font-size: 24px;
      margin-bottom: 0px;
      text-shadow:0px 0px 20px #FF69A3;
    }
    .contents-overview {
      width: 100%;
    }
    .contents-overview p {
      font-size: 12px;
      padding: 5px;
      margin: 1px auto;
    }

    .title_title {
      margin-bottom: 0px;
      text-align: left;
    }
    .title_title span {
      font-size: 18px;
      margin-left: 15px;
      font-weight: 700;
    }
    .each_title {
      font-size: 14px;
      border: 3px solid rgba(240,10,10,0.2);
    }
    .img-fluid {
      border: 5px ridge #cfcfcf !important;
      height: 100px !important;
    }
    .each_contents {
      display: inline-block;
      padding-top: 5px;
    }
    .each_body {
      padding-top: 5px;
    }
    .each_body p {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .each_body strong {
      font-size: 18px;
    }
  }
}
