* {
  margin: 0;
  padding: 0;
}
.submits.show{
  font-family: serif;

  .contents-top {
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .contents-name {
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 10px;
  }

  .contents-name h2 {
    font-weight: 800;
    color: #FF4F02;
  }
  .contents-name p {
    color: #C0C0C0;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .info {
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
    color: #555555;
    font-size: 14px;
  }

  .each_title {
    padding: 10px;
  }
  .each_title h5 {
    margin-bottom: 0px;
    font-weight: 600;
  }
  .table th {
    width: 20%;
  }
  .arrows {
    width: 70px;
    height: 20px;
    color: #555555;
  }

  .contents {
    padding: 5px;
  }


  /* 以下デートスポット詳細画面 */
  .each-category {
    border: 4px solid rgba(240,10,10,0.2);
    border-radius: 7px;
    display: inline-block;
    color: #555555;
    font-size: 18px;
  }
  .card {
    padding: 0px;
  }
  .card-body {
    padding: 10px;
  }
  .card:hover {
    opacity: 0.6;
    text-decoration: none;
  }

  .card-title {
    text-align: center;
    font-weight: 600;
    color: #FF4F02;
    margin-bottom: 8px;
  }
  .card-text {
    font-size: 14px;
    color: #555555;
    margin-bottom: 3px;
  }
  .each-image {
    max-height: 180px;
    object-fit: cover;
  }

  .text-right {
    margin: 5px 0px 0px 0px;
   }

  .delete_edit {
    display: flex;
    justify-content: center;
  }
  .delete_edit p {
    margin: 10px 10%;
  }

  @media screen and (max-width: 480px) {
    .contents-name h2 {
      font-size: 24px;
    }
    .table tr {
      font-size: 12px;
    }
    .table th,td {
      padding: 6px;
    }

    .each_title {
      padding-bottom: 5px;
    }

    .card-title {
      font-size: 20px;
      text-align: left;
    }
    .card-text {
      font-size: 11px;
    }
  }
}
