// Place all the styles related to the submits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
.submits_plans {
  .flash {
    background-color: #FFFF99;
  }

  .card-header h3 {
    font-weight: 700;
    margin: 0;
  }

  .field {
    border-bottom: 1px solid #FFDDFF;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .attention {
    color: red;
    font-size: 12px;
    padding-left: 5px;
  }
  .field h6 {
    font-size: 14px;
  }
  .form-control {
    width: 100%!important;
  }

  .purpose_all{
    font-weight: 100;
  }

  .action {
    text-align: center;
    padding-top: 10px;
  }

  @media screen and (max-width: 480px){
    .flash {
      font-size: 12px;
    }
    small {
      font-size: 5px;
    }
    .field {
      font-size: 16px;
    }
    .links {
      font-size: 14px;
    }

  }
}
