// Place all the styles related to the submits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
.submits_plans {
  .frame {
    border: 2px solid #FFCCFF;
    background-color: #FFEEFF;
  }

  .title {
    text-align: center;
    width: 100%;
  }
  .title h3 {
    font-weight: 700;
    background-color: #FFCCFF;
    padding: 5px 10px;
  }

  .field {
    border-bottom: 1px solid #FFDDFF;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .form-control {
    width: 100%!important;
  }

  .action {
    text-align: center;
  }

  @media screen and (max-width: 480px){
    small {
      font-size: 5px;
    }

  }
}
