// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
.header-nav {
  width: 100%;
  height: 40px;
  background-color: #FFC0CB;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-style: oblique;
  font-family: serif;
}
.header-nav nav:first-child {
  margin-right: auto;
  margin-left: 3%;
}
.header-nav nav {
  margin-right: 3%;
}
.header-nav a {
  color: black;
}
.pipiple_image {
  height: 20px;
  margin-bottom: 2px;
  text-align: center;
}

.advertisement {
  text-align: center;
}

.ad_side {
  margin-left: 15px;
}

.post-space {
  margin-left: 15px;
  text-align: center;
}
.post-space p {
  font-size: 11px;
}

.tops.index{
  font-family: serif;
  /* head-block */
  .head-block {
    background-image: url("tops_image.jpg");
    background-size: cover;
    background-position: 0 50%;
    width: 100%;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-container {
    position: absolute;
    margin-left: 22%;
    text-align: center;
  }

  .title-container ruby,h1 {
    font-size: 70px;
    font-family: serif;
    font-style: oblique;
    color: #FF5F17;
  }
  rt {
    font-size: 20px !important;
  }
  .title-container p {
    font-style: oblique;
    font-size: 18px;
    font-family: serif;
    color: #FF5F17;
  }

  /*   head-block End   */

  /* 検索 */
  .tops-search {
    text-align: center;
    overflow: hidden;
    width: auto;
    margin-top: 350px;
  }

  .cp_ipselect {
  	overflow: hidden;
  	width: auto;
  	text-align: center;
    float: left;
  }
  .select {
  	width: 100%;
  	padding-right: 1em;
  	cursor: pointer;
  	text-indent: 0.01px;
  	text-overflow: ellipsis;
  	border: none;
  	outline: none;
  	background: transparent;
  	background-image: none;
  	box-shadow: none;
  	-webkit-appearance: none;
  	appearance: none;
  }
  .select::-ms-expand {
    display: none;
  }
  .cp_ipselect.cp_sl04 {
  	position: relative;
  	border-radius: 2px;
  	border: 2px solid #dc3545;
    border-radius: 50px;
  	background: #ffffff;
  }
  .cp_ipselect.cp_sl04::before {
  	position: absolute;
  	top: 0.8em;
  	right: 0.8em;
  	width: 0;
  	height: 0;
  	padding: 0;
  	content: '';
  	border-left: 6px solid transparent;
  	border-right: 6px solid transparent;
  	border-top: 6px solid #dc3545;
  	pointer-events: none;
  }
  .select {
  	padding: 5px 35px 5px 8px;
  	color: #dc3545;
  }
  .search_button {
    display: block;
    width: 80px;
    color: #fff;
    text-align: center;
    background-color: #dc3545;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #dc3545;
  }
  /* 検索　END */


  /*   second-block   */
  .second-block {
    display: flex;
    margin-top: 20px;
  }

  .tops-newplan {
    padding: 10px;
    margin: 20px 5px;
    border-radius: 5px;
  }
  .tops-newplan h4 {
    font-weight: 700;
    margin-bottom: 16px;
  }
  .card:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  /*画像swiper*/
  .swiper-slide ul {
    text-align: center;
    margin-top: 10px;
  }
  .swiper-slide ul li {
    display: inline-block;
    overflow: hidden;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 0;
  }
  .swiper-button-prev {
    background-image: url(https://www.otwo.jp/blog/demo/swiper/arrow_left.png);
  }
  .swiper-button-next{
    background-image: url(https://www.otwo.jp/blog/demo/swiper/arrow_right.png);
  }
  /*画像のswiper END*/
  .spots_image {
    height: 140px;
    width: 230px;
    object-fit: cover;
  }
  .card-title {
    color: #dc3545;
    font-size: 18px;
    font-weight: 700;
  }
  .card-body {
    font-size: 11px;
    padding: 10px;
  }
  .card-text p {
    color: grey;
    display: inline-block;
    margin-bottom: 4px;
    text-decoration: underline;
    text-decoration-color: #A4A4A4;
  }
  .icon {
    width: 14px;
    padding-bottom: 2px;
    padding-right: 4px;
  }

  #navi_page_link {
    text-align: center;
  }

  #navi_page_link li {
    padding: 5px 0px;
  }

  .clearfix {
    padding: 0.2em 0.2em;
    margin: 1em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;

    width: 80%;
    display: inline-block;
  }

  .clearfix li {
    list-style: none;
    width: 300px;
    display: table-cell;
    vertical-align: middle;

    border: solid 3px white;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
  }

  .clearfix li:hover {
    background-color: #FFD9D9;
  }

  .clearfix a:hover {
    color: blue;
  }

  .advertisement {
    text-align: center;
  }

  .second-block h2 {
    text-align: center;
    color: #A4A4A4;
    padding-top: 12px;
    font-weight: 700;
  }

  .tops-area {
    padding: 25px;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 20px;
  }
  .area_list {
    padding: 0px 6px;
  }

  .tops-area p {
    float: left;
  }

  .tops-purpose {
    padding: 25px;
    margin-bottom: 10px;
  }

  .mouse:hover {
    opacity: 0.7;
  }

  .tops-purpose h4 {
    text-align: center;
    padding-top: 5px;
  }

  .tops-purpose p {
    text-align: center;
  }

  .img-fluid {
    width: 100% !important;
  }
  /*   second-block End   */

  .post {
    margin-top: 7px;
    height: 71px;
    font-size: 16px;
    border-radius: 15px;
    line-height: 56px;
  }

  /*スマホ用*/
  @media screen and (max-width: 480px) {
    .head-block {
      height: 130px;
    }

    .title-container {
      margin-top: 40px;
    }
    .title-container ruby,h1 {
      font-size: 30px;
      margin-bottom: 0px;
      font-weight: 600;
    }
    rt {
      font-size: 9px !important;
    }
    .title-container p {
      display: none !important;
    }

    .select_a {
      width: 100%;
    }
    .select_pm {
      width: 40%;
    }
    .search_button {
      width: 20%;
    }

    .second-block {
      margin-top: 0px;
    }
    .second-block h2 {
      font-size: 24px;
    }
    #navi_page_link {
      margin-bottom: 10px;
    }
    .clearfix {
      width: 100%;
    }
    .clearfix li {
      width: 130px;
    }

    .post {
      height: 45px;
      line-height: 30px;
      border-radius: 12px;
    }

    .tops-area {
      padding-right: 10px;
    }

    .tops-purpose {
      padding: 5px;
      margin-bottom: 50px;
      text-align: center;
    }
    .tops-purpose h4 {
      font-size: 20px;
    }
    .tops-purpose p {
      font-size: 14px;
      border-bottom: 1px dashed #EFEFEF;
    }
    .img-fluid {
      width: 60% !important;
    }

    .tops-purpose {
      margin-bottom: 0px;
    }

  }
  /*スマホ用-終わり*/
}
@media screen and (max-width: 480px){
  .ad_pc {
    display: none !important;
  }

  .header-nav {
    display: table;
    table-layout: fixed;
    text-align: center;
  }
  .header-nav nav {
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
  }

  .post-space {
    margin: 0px 15px;
  }
  .post-space p {
    font-size: 8px;
  }
  .tops-search {
    margin: 2em auto !important;
  }
}
@media screen and (min-width: 481px){
  .ad_phone {
    display: none !important;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 30px;
  background-color: white;
  font-size: 12px;
  color: #A4A4A4;
  font-family: serif;
  border-top: 1px solid #EFEFEF;
}
