.users {
  font-family: serif;
  p {
    text-align: center;
    padding-top: 10px;
  }
  h3 {
    margin-top: 15px;
    font-weight: 700;
  }
  .blank {
    background-color: #DDDDDD;
  }
  .links {
    display: block;
    text-align: center;
  }
  .field i {
    font-style: normal;
  }
  .actions {
    text-align: center;
  }
  .check {
    text-align: center;
  }

  // マイページ
  .each_title {
    padding: 10px;
  }
  .each_title h4 {
    margin-bottom: 5px;
    font-weight: 600;
  }
  .table {
    color: #555555
  }
  .table th {
    width: 30%;
  }
  .create_edit {
    display: flex;
    justify-content: center;
  }
  .create_edit p {
    margin: 10px 10%;
  }
  @media screen and (max-width: 480px) {
    .table tr {
      font-size: 12px;
    }
    .table th,td {
      padding: 6px;
    }
    .create_edit p {
      margin: 10px auto;
    }
  }

  // 登録情報変更
  .form-control {
    width: 98%;
    margin: auto;
  }
}
